* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    display: flex;
    align-items: start;
    justify-content: space-around;
    height: 100%;
    /* flex-direction: column; */
    /* height: 100vh; */
    position: relative;
}

.label-gender {
    width: 100%;
    display: flex;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="button"] {
    cursor: pointer;
}

.invalid {
    border: 1px solid red !important;
}

.valid {
    border: none !important;
}

.add-btn {
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    background-color: #4689b5;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.btn-close {
    margin: 2rem 0rem 0rem 2rem;
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: greenyellow;
}

.formulario-login {
    background-color: #1C6EA4;
    box-sizing: border-box;
    width: 30%;
    border-radius: 10px;
    border: 1px solid rgba(73, 72, 72, 0.7);
    position: absolute;
    top: 25%;
    /* height: 150px; */
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.formulario-login form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.select-cuatrimestre {
    width: 100%;
    border-radius: 10px;
    /* height: 30px; */
    padding: 1rem;
    margin: 1rem 0;
}

.formulario-login form label {
    color: white;
    text-align: left;
    width: 100%;
    margin-top: 1rem;
}

.formulario-login form input {
    margin: 1rem 0;
    width: 100%;
    padding: 1rem;
    max-width: 95%;
    border: none;
    border-radius: 10px;
    /* background-color: rgb(255 255 255 / 90%); */
    color: rgb(0, 0, 0);
}

.formulario-login form input:focus {
    outline: none !important;
}

.formulario-login form input[type=button] {
    width: 30%;
    color: gray;
}

.formulario-login form input::placeholder {
    color: rgb(97, 96, 96);
}

.table-results {
    width: 50%;
    height: 600px;
    max-height: 600px;
    overflow: auto;
}


/*TABLE STYLE*/

table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 5px 4px;
}

table.blueTable tbody td {
    font-size: 15px;
}

table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}

table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
    border-left: none;
}

.loading {
    position: absolute;
    background-color: #8080806e;
    z-index: 9;
    height: 100%;
    width: 100%;
}

.spinner {
    margin: 100px auto;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 25%;
}

.spinner>div {
    z-index: 999;
    background-color: black;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}